@charset "UTF-8";
body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.find {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.find-header,
.login p,
.login a {
  margin-top: 0;
  margin-bottom: 0;
}
.find-header2
{
  margin-top: 10;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.find-triangle
 {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.find-header
{
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

}
.find-header2
{
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.find-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.find p,
.find a {
  padding: 12px;
}

.find input,
.find a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.find input[type="email"],
.find input[type="name"]
	{
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.find input[type="email"]:focus,
.find input[type="name"]:focus {
  border-color: #888;
}

.find input[type="submit"],
.find a {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.find input[type="submit"]:hover,
.find a {
  background: #17c;
}

/* Buttons' focus effect */
.find input[type="submit"]:focus,
.find a {
  border-color: #05a;
}

.find a {
	 text-align: center; 
	 text-decoration: none;


}