@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Amarante');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper {

	display: block;
	width: 925px;
	background: #fff;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px 17px;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

#header {
	width: 900px;
	color: #333;
	padding: 10px;
	height: 80px;
	margin: 10px 0px 5px 0px;
	background: #c9dff0;
	font-size: 20px;
    border: 1px solid #ccc;
    padding-bottom: 35px;
}

#header h1 {
	text-align: center;
	margin-top: 30px;
}

#header h1 a {
	text-decoration: none;
	font-size: 1.5em;
	color: #757E7F;
}

#navigation{
	
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#navigation a{
	
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	color: #757E7F;
}

#navigation a:hover{
	
	color: #98CAD2;
}

#content {
	width: 900px;
	color: #333;
	border: 1px solid #ccc;
	background: #F1FBFB;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	height: 430px;
}

#content h1{
	
	text-align: center;
	color: #757E7F;
	margin: 0;
}

.page{
	
	text-align: center;
}

#content form{
	text-align: center;
}

#b1{
	
	margin-left: 410px;
}


#footer {
	width: 900px;
	height: 50px;
	color: #333;
	border: 1px solid #ccc;
	background-color: #F3F2ED;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	text-align: center;
}


body { 
  background-color : #F3F8F9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }


#keywords {
  margin: 0 auto;
  font-size: 1.5em;
  margin-bottom: 15px;
  width: 800px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
  background-color: white;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}

#keywords tbody tr td a{
	text-decoration: none;
	color: #757E7F;
}

#keywords tbody tr td a:hover{
	color: #98CAD2;
}

#keywords tbody tr td.lalign {
  text-align: left;
}
